@use 'src/styles/vars';

.types-container {
  display: flex;
  flex-direction: column;

  & .button {
    display: block;
    width: 50%;
    margin: 1rem auto;
  }
}

// .type-container-button-normal {
//   background-color: lightyellow;
// }
